@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html{
  height: 100%; 
  margin: 0; 
  box-sizing: border-box; 
}
body {
  font-family: 'Open Sans', sans-serif; 
  height: 100%; 
  margin: 0; 
}
.app-header{
  display: flex; 
  background-color: #130e27;
}
#logOutButton {
  height: 40px;
  width: 120px;
  align-self: center;
  margin: 10px;
  border: none;
  background: transparent;
  color: rgba(248, 248, 248, 0.8); 
  font-size: .9rem;

}
#logOutButton:hover {
  cursor: pointer;
  color: rgba(248, 248, 248, 1); 
}
h3 {
  align-self: center;
  margin: 0;
  font-size: 1.25rem; 
  font-weight: 400; 
  width: 100%; 
  text-align: center;
  color: rgba(248, 248, 248, 0.8); 
}
#userPhoto{
  align-self: center; 
  width: 60px; 
  height: 40px; 
  margin: 0 2%;
  background-size: cover; 
  border-radius: 50%; 
}
#userName{
  width: 200px; 
  font-size: .9rem;
  align-self: center; 
  color: rgba(248, 248, 248, 0.8); 
}

#addTaskForm {
  margin: 2vh; 
}
.listContainer ul {
  padding: 0; 
}
#new-todo {
  outline:none; 
  width: 400px;
  border: 1px solid #ddd;
  height: 20px;
  border-radius: 15px;
  font-size: 20px; 
  text-align: center; 
  padding: 5px; 
}
#new-todo:focus {
  border: 1px solid #0d66b9; 

}
.listContainer {
  width: 100%; 
  margin-top: 2vh; 
  overflow: auto; 

}
.listItems {
  width: 50%; 
  padding: 15px; 
  list-style: none; 
  font-size: .95rem; 
  align-self: center; 
}
#inputLabel {
  font-size: 1.2rem; 
  margin: 2vh; 
}
.itemContainer {
  display: flex; 
  justify-content: space-between; 
}

.wrapper {
  height: 100vh; 
  display: flex; 
  position: relative;
  overflow: hidden; 
  flex-direction: column; 
}
.horizontalWrapper{
  display: flex; 
  height: 100vh; 
}
#hamburger {
  display: none; 
}
#hamburger div {
  display: none; 
}
#formButton {
background-color: #7fffd4;
border-radius: 30px;
width: 100px; 
padding: 10px 20px;
margin: 0vh 2vh; 
color: #333; 
outline: none; 
border: none; 
cursor: pointer;
}


@media screen and (max-width: 550px) {
  /*
  form {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }
  form > input, label, button {
   margin: 5px 0px; 
  }
  */ 
  #addTaskForm{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }
  #addTaskForm > input, label, button {
   margin: 5px 0px; 
  }
}

@media screen and (max-width: 800px) {
  #hamburger {
    cursor: pointer;
    /* display: block; */
    font-size: 2rem;
    /*padding: 20px;
    color: rgb(255, 255, 255, .8); */ 
    /* transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91) */
  }
  #hamburger2 {
    cursor: pointer; 
    left: 15px; 
    position: relative;
  }
  #hamburger2 div { 
    display: block; 
    width: 35px; 
    height: 2px; 
    margin-bottom: 8px; 
    background-color: rgb(255, 255, 255, .8); 
    -webkit-transition: -webkit-transform 500ms ease; 
    transition: transform 500ms ease;  
  }
  #hamburger2.active #top{
    -webkit-transform: translateY(10px) rotate(-135deg);
    -ms-transform: translateY(10px) rotate(-135deg);
    transform: translateY(10px) rotate(-135deg); 
  }
  #hamburger2.active #middle {
    -webkit-transform: scale(0);
    -ms-transform: scale(0); 
    transform: scale(0); 
  }
  #hamburger2.active #bottom {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg); 
    transform: translateY(-10px) rotate(-45deg); 
  }
  
  .app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .listContainer {
    width: 100%; 
  }
  .listContainer > form {
    text-align: center; 
  }
  #userPhoto {
    display: none; 
    width: 70px;
    height: 40px;
  }
  #userName {
    display: none; 
  }
}

@media screen and (max-width: 400px) {
  #userPhoto{
    width: 90px;
    height: 40px;
  }
  #new-todo {
    width: 330px; 
    height: 30px; 
  }
  #formButton {
    margin: 2vh; 
    width: 330px; 
    height: 35px;
  }
 
}


