.selectUserContainer {
    text-align: center; 
}
.searchContainer {
    overflow: auto; 
    display: none; 
    padding: 15px; 
    border-radius: 15px; 
    margin-top: -65px; 
    margin-left: -20px; 
    position: absolute;
    z-index: 1;
    height: 200px; 
    background-color: #fff; 
    box-shadow: .5px 1px 1px 1px rgba(95, 95, 99, 0.425); 

}
.searchResult:hover {
    text-decoration: underline;
    cursor: pointer;
}
#searchUserInput {
    outline:none; 
    width: 200px;
    border: 1px solid #ddd;
    height: 20px;
    border-radius: 15px;
    font-size: 20px; 
    text-align: center; 
    padding: 5px;
}

 #searchUserInput:focus {
    border: 1px solid #0d66b9; 
  
  }
  .userSelection {
      margin: 2vh; 
  }
#seperator {
    width: 100px; 
    height: 2px; 
    margin: 20px auto; 
    background-color: #0d66b9
}
@media screen and (max-width: 450px){

    .searchContainer {
        margin: 0; 
        top: 30%; 
        left: 15%; 
        width: 250px; 
        height: 300px; 
    }
}